*{
    margin:0;
    padding:0;
}

header{
    display:block;
    width:500px;
    margin:0px auto;
    text-align: center;    
}

header h1{
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
}
#newGameButton{
    display: block;
    width: 100px;
    margin: 0px auto;
    padding: 10px 10px;
    background-color:#8f7a66;
    font-family:Arial;
    color:white;
    text-decoration: none;
    
}
#newGameButton:hover{
    background-color:#9f8b77;
}
header p{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    
}
.grid-container{
    width: 460px;
    height: 460px;
    background-color:#bbada0; 
    margin:0px auto;
    padding:20px;
    position: relative;
    border-radius: 10px;
}
.grid-cell{
    width:100px;
    height:100px;
    font-family: Arial;
    font-weight: bold;
/*    font-size: 60px;*/
    background-color:#ccc0b3;
    border-radius:6px;
    position: absolute;
    z-index: 1;    
}
.number-cell{
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    z-index:4;
    border-radius: 6px;
    position: absolute;
}
#gameOver{
    background-color: rgba(72,62,44,0.5);
    border-radius: 8px;
    font-family: Arial;
    font-size:30px;
    width:35%;
    margin-left:32.5%;
    min-height: 250px;
    text-align: center;
    z-index: 9;
    display: none;
    position: absolute;
    
}
#gameOver h1{
    width:100%;
    height:75%;
    line-height: 100px;
    color:rgb(169,54,18);
    font-size: 60px;
    min-height: 160px;
}
#again{
    width:84%;
    font-family: 微软雅黑;
    font-size: 20px;
    line-height: 20px;
    background-color: rgba(118,95,64,0.7);
    padding: 18px;
    border-radius: 6px;
    color:#999;
    margin: 0 auto;
}
#again:hover{
    background-color: rgba(120,100,75,0.8);
    color:#fff;
}
#again:active{
    color:#ccc;
}

@media screen and (max-width:450px){
    body{
        width:100%;
    }
    header{
        width:100%;
    }
    header h1{
        font-size: 40px;
    }
    header p,header a{
        font-size: 20px;
    }
    #newGameButton{
        font-size: 14px;
        width: 75px;
        padding: 6px 6px;
    }
    #gameOver{ 
        width:80%;
        height:40%; 
        text-align: center;
        border-radius: 4px;
        z-index: 9;
        top:-300px;
        display: none;
        margin-left:10%;
    }
    #gameOver h1{
        font-size:40px;
        color:rgb(169,54,18);
    }
    #again{
        width:84%;
        font-family: 微软雅黑;
        font-size: 20px;
        line-height: 20px;
        background-color: rgba(118,95,64,0.7);
        padding: 12px;
        border-radius: 3px;
        margin:0px auto;
        color:#999;

    }
}
